# Homework day_1

## Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [2]:
shopping = ["spam", "ham", "eggs", "ham"]

In [3]:
# Extract the second element of the list
shopping[1]

'ham'

In [4]:
# Extract the first to third (inclusive) element of the list
shopping[0:3]

['spam', 'ham', 'eggs']

In [5]:
# Extract everything except the last element of the list
shopping[: -1]

['spam', 'ham', 'eggs']

## Question 2

Set up a list with the following elements:

In [13]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [14]:
# Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [15]:
# Add "Queen Street" to the start of the list
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [16]:
# Find out what index "Croy" is at in the list
stops.index("Croy")

1

In [18]:
# Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [19]:
# Remove "Haymarket" from the list of stops
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [20]:
# Remove all items from stops
stops.clear()
stops

[]

## Question 3
Set up the following dictionary:

In [23]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [25]:
# Return the keys, values and items from this dictionary
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [27]:
person.values()

dict_values(['Steph', 31, True])

In [26]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [29]:
# Take out only the name from it
person["name"]

'Steph'

In [33]:
# Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
person["email"] = "steph@codeclan.com"
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [34]:
# Delete the job description from the dictionary (Hint: look up the del function)
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4
For the following list of numbers:

In [4]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [5]:
# Print out a list of the even integers:
for i in numbers:
    if i % 2 == 0:
        print(i)

6
2
2
6

In [6]:
# Print the difference between the largest and smallest value:
max(numbers) - min(numbers)

98

In [10]:
# Print True if the list contains a 2 next to a 2 somewhere.
for i in numbers:
    if i == 2 and numbers[numbers.index(i) + 1] == 2:
        print(True)
        break

True

In [33]:
# Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7.
# So [11, 6, 4, 99, 7, 11] would have sum of 22
# numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
index_of_6 = numbers.index(6)
index_of_7 = numbers.index(7)

# create subset of section of numbers starting with a 6 and extending to the next 7
if index_of_6 < index_of_7:
    numbers_subset = numbers[index_of_6:index_of_7+1]
    
sum_numbers = 0
sum_subset_numbers = 0
total = 0

# sum of the elements of `numbers` list
for i in numbers:
    sum_numbers = sum_numbers + i

# sum of the elements of `numbers_subset` list
for i in numbers_subset:
    sum_subset_numbers = sum_subset_numbers + i

# substraction
total = sum_numbers - sum_subset_numbers
print("The sum of the numbers, ignoring any section of numbers starting with a 6 and extending to the next 7 is", total)

[6, 2, 2, 7]
The sum of the numbers, ignoring any section of numbers starting with a 6 and extending to the next 7 is 127

## Question 5
Write a conditional that takes in two inputs :

In [50]:
python_is_fun = False

In [48]:
python_is_weird = False

In [51]:
if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

## Question 6
We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [53]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 2},
 {'name': 'Henrietta', 'age': 3, 'eggs': 1},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 1}]

In [54]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected
    
print(f"{total_eggs} eggs collected")

4 eggs collected

In [55]:
# Instead, we want to define a function which passes in a list, 
# so that if we wanted to count eggs of a different list of chickens from another farm, 
# we can use the same function, just pass in a different list.